var dateFormat = function(timestamp) {
  var date = getDate(timestamp * 1000)
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()

  var hour = function() {
    if(date.getHours() < 10) {
      return '0' + date.getHours()
    }
    return date.getHours()
  }

  var minute = function() {
    if(date.getMinutes() < 10) {
      return '0' + date.getMinutes()
    }
    return date.getMinutes()
  }

  var second = function() {
    if(date.getSeconds() < 10) {
      return '0' + date.getSeconds()
    }
    return date.getSeconds()
  }
 
  return year + '-' + month + '-' + day + ' ' + hour() + ':' + minute() + ":" + second()
}
 
var positionFilter = function(num) {
  var status = null
  switch(num) {
    case 1:
      status = '审核通过'
      break
    case 2:
      status = '审核中'
      break
    case 3:
      status = '审核失败'
      break
    default:
      break
  }
  return status
}

var chatFilter = function(num) {
  var status = null
  switch(num) {
    case 11:
      status = '求职者已申请成为招聘管'
      break
    case 12:
      status = '求职者已收到招聘管的邀请'
      break
    case 21:
      status = '求职者等待招聘官安排面试'
      break
    case 31:
      status = '招聘管等待求职者确认信息'
      break
    case 32:
      status = '求职者等待招聘管修改面试信息'
      break
    case 41:
      status = '招聘管已安排求职者面试'
      break
    case 51:
      status = '招聘管已安排求职者面试结束'
      break
    case 52:
      status = '招聘管设置求职者不合适'
      break
    case 53:
      status = '系统设置求职者不合适'
      break
    default:
      break
  }
  return status
}

module.exports = {
  dateFormat: dateFormat,
  positionFilter: positionFilter
}
