var dateFormat = function(timestamp) {
  var date = getDate(timestamp * 1000)
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()

  var hour = function() {
    if(date.getHours() < 10) {
      return '0' + date.getHours()
    }
    return date.getHours()
  }

  var minute = function() {
    if(date.getMinutes() < 10) {
      return '0' + date.getMinutes()
    }
    return date.getMinutes()
  }

  var second = function() {
    if(date.getSeconds() < 10) {
      return '0' + date.getSeconds()
    }
    return date.getSeconds()
  }
 
  return year + '-' + month + '-' + day + ' ' + hour() + ':' + minute() + ":" + second()
}
 
var positionFilter = function(num) {
  var status = null
  switch(num) {
    case 1:
      status = '审核通过'
      break
    case 2:
      status = '审核中'
      break
    case 3:
      status = '审核失败'
      break
    default:
      break
  }
  return status
}

var chatFilter = function(num) {
  var status = null
  switch(num) {
    case 1:
      status = '审核通过'
      break
    case 2:
      status = '审核中'
      break
    case 3:
      status = '审核失败'
      break
    default:
      break
  }
  return status
}

module.exports = {
  dateFormat: dateFormat,
  positionFilter: positionFilter
}
